
body{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'MedievalSharp', cursive;
}
.linkItem{
    background-color:#e5e5e5;
    opacity: 85%;
    max-width:800px;
    border: solid 2px whitesmoke;
    text-decoration: none;
    color:#2E6E65;
}

.linkItem:hover { 
    background-color: #e5e5e5;
    opacity: 100%;
}

.input-field{
    max-width: 500px;
}